.btnSave {
    font-family: Poppins;
    font-size: 1rem;
    padding: 0.2rem 1rem;
    color: #FFFFFF;
    margin-top: 1.5rem;
    background: linear-gradient(148.12deg, #000A46 -0.24%, #0575E6 99.99%);
    border-radius: 32px;
    outline: none;
    border: none;
}

.btnSave:hover{
    background:  linear-gradient(148.12deg, #0575E6 -0.24%, #000A46 99.99%);
}

.container{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.content {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
}

.edit{
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 3rem;
}

.estratos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.estratos div{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table{
    width: 15rem;
    text-align: center;
    border-radius: 8px;
    border-collapse: collapse;
    border: solid #000A46 0.1rem;
}

th, td {
    text-align: center;
    font-family: Poppins;
    padding: 0.1rem 8px;
}

th{
    font-weight: 400;
    background: #000A46;
    color: #FFFFFF;
}

td {
    color: #000A46;
}

.valor, .estrato {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000A46;
}

.valor input {
    width: 6rem;
    font-family: Poppins;
    font-size: 1rem;
    border: none;
    outline: none;
    border-bottom: solid 0.1rem #0575E6;
    text-align: center;
    color: #0575E6;
    border-radius: 8px;
    padding: 0 0.5rem;
}

.subtitle {
    font-family: Poppins;
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    color: #0575E6;
}

.text {  
    font-family: Poppins;
    font-size: 1rem;
    color: #043A71;
}

.title {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: capitalize;
    color: #000A46;
}