.Home{
    width: calc(100vw-1rem);
    max-height: 100vh;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(10,1fr);
    overflow: hidden;
}
#principalTitles{
    background: #eee;
    grid-row: 4/8;
    grid-column: 6/16;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
#principalTitles h1{
    font-size: 6rem;
    text-align: center;
    line-height: 50%;
}
.LittleTitle{
    font-size: 3rem;
    text-align: center;
}
