.SimpleSignIn{
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(10,1fr);
    width: calc(100vw - 0.01rem);
    height: calc(100vh - 0.01rem);
    overflow: hidden;
}
nav{
    grid-column: 2/20;
    grid-row: 1/2;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(0.4rem);
    position: relative;
    z-index: 5688;
}
#Logo, #Logo a{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
#Logo img{
    height: 2.75rem;
}
#TypingLogo{
    font-family: 'Lobster', cursive;
    font-size: 1.5rem;
}
.ButtonGradientTwo{
    background: var(--dark-gradient);
    padding: 0.5rem 1rem;
    border-radius: 2.5rem;
    -webkit-border-radius: 2.5rem;
    -moz-border-radius: 2.5rem;
    -ms-border-radius: 2.5rem;
    -o-border-radius: 2.5rem;
}
.container-PaymentLink{
    grid-column: 12/19;
    grid-row: 3/9;
    width: 100%;
}
#PayImg{
    grid-column: 3/11;
    grid-row: 2/10;
    width: 99%;
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.SimpleSignIn #WaveOne{
    transform: rotate(180deg) scaleX(-1);
    -webkit-transform: rotate(180deg) scaleX(-1);
    -moz-transform: rotate(180deg) scaleX(-1);
    -ms-transform: rotate(180deg) scaleX(-1);
    -o-transform: rotate(180deg) scaleX(-1);
}
.SimpleSignIn #WaveTwo{
    transform: rotate(180deg) scaleX(-1);
    -webkit-transform: rotate(180deg) scaleX(-1);
    -moz-transform: rotate(180deg) scaleX(-1);
    -ms-transform: rotate(180deg) scaleX(-1);
    -o-transform: rotate(180deg) scaleX(-1);
    top: -51% !important;
    z-index: 1;
}