.principal{
    width: 100%;
    height: 100%;
    grid-row: 2/10;
    grid-column: 5/17;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inv-container{
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(0.5rem);
    padding: 2.5rem;
    border-radius: 2rem;    
    box-shadow: 0px 0px 10px 1px rgba(177, 177, 177, 0.3);
}
.inv-container h3{
    font-size: 2em;
    margin-bottom: 2rem;
    color: var(--Principal-letter);
;}
.inv-container form{    
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;    
    font-size: 1.15em;
    gap: 1rem;
}
.inv-container form input{
    width: 90%;
    border-radius: 1rem;
    font-size: 0.9em;
    height: 2rem;
    border: none;
    background-color: #0576e6b0;
}
#btnEnviar{
    width: 70%;
    border: none;
    height: 2.5rem;
    border-radius: 1.5rem;
    padding-left: 0;
    color: white;
    background: linear-gradient(to right, #000A46, #0575E6);
    cursor: pointer;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}